.main {
  width: 100%;

  color: black;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__body {
  width: 100%;
  height: 650px;

  color: white;
  background-image: url('../../images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 120px;
}

.main__title {
  font-family: 'local-exwayer';
  font-size: 120px;
  font-weight: lighter;
  color: #a6e3ff;
  animation: change-color 5s linear infinite;
  animation: init-title 1.5s linear;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-bottom: 20px;
}

.main__text {
  font-weight: 100;
  font-size: 15px;
  color: #eee;
}

.main__button {
  margin-top: 60px;
}

@keyframes change-color {
  0% {
    color: #a6e3ff;
  }
  30% {
    color: white;
  }
  60% {
    color: #a6e3ff;
  }
}

@keyframes init-title {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}