.main-button {
  font-family: 'local-ubuntu';
  border: none;
  color: white;
  background-color: #2F71E5;
  border-radius: 30px;
  width: 150px;
  height: 40px;
}

.main-button:hover {
  background-color: #558dec;
  color: black;
}