@font-face {
  src: url("./vendor/Ubuntu-Light.woff");
  font-family: "local-ubuntu";
  font-weight: lighter;
}
@font-face {
  src: url("./vendor/Ubuntu-Bold.woff");
  font-family: "local-ubuntu";
  font-weight: bold;
}
@font-face {
  src: url("./vendor/exwayer.woff");
  font-family: "local-exwayer";
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'local-ubuntu', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
}
